@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: rgb(19, 63, 121);
}

h1 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  color: rgb(19, 63, 121);
  text-decoration: none;
}

a:hover {
  color: rgb(122, 8, 8);
}

.container {
  width: 85%;
  max-width: 75rem;
  margin: 2rem auto;
  border: 1px solid black;
  padding: 3rem;
}

header {
  display: flex;
}

.photo {
  width: 22rem;
  margin-right: 4rem;
}

.profile-photo {
  width: 100%;
  border: 2px solid gray;
  border-radius: 50%;
}

.job-title {
  margin-bottom: 1rem;
}

i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.info li {
  margin-bottom: 0.5rem;
}

.content-title {
  border-bottom: 2px solid gray;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h3 {
  margin-top: 0.8rem;
}

.info-date {
  font-weight: bold;
}

.skills,
.languages {
  display: flex;
  flex-wrap: wrap;
}

.skills li,
.languages li {
  font-weight: bold;
  margin-right: 1rem;
}

@media (max-width: 680px) {
  .container {
    padding: 1rem;
  }

  header {
    flex-direction: column;
  }
  .photo {
    width: 100%;
    margin-right: 0;
  }
}
