:root {
  --main-bg-color: #fcf0e5;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-bg-color: #3a0fe5;
  --dark-blue-bg-color: #10162f;
  --yellow-bg-color: #f4d302;
  --dark-beige-hover-color: #f1e3db;
  --light-pink-bg-color: #fef5ff;
  --text-color: #10162f;
  --link-color: #3810db;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style: none;
}
img {
  width: 100%;
  max-height: 100%;
}
h1,
h2,
h3 {
  margin: 1em 0;
}
button {
  font-family: inherit;
  line-height: inherit;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  min-width: 40px;
  height: 40px;
  font-weight: 500;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* ----------- Header ---------- */
header {
  font-size: 14px;
  border-bottom: 1px solid var(--dark-blue-bg-color);
}
.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}
.header-nav {
  display: none;
}
.toggle-wrapper {
  margin-left: auto;
}
.header-search-button {
  display: none;
}
.header-login {
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  font-weight: 600;
}
.hamburger-menu {
  margin-left: 0.5rem;
  padding: 0.5rem;
  color: var(--text-color);
}

/* ----------- Main ---------- */

/* ----------- Hero Section ---------- */
.hero-signup-wrapper {
  padding: 1rem 0;
}
.signup-title {
  font-size: 1.6rem;
}
.signup-form label {
  font-weight: 500;
}
.signup-form input {
  width: 100%;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1.5rem;
}
.signup-btn {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}
.terms-policy {
  margin: 1.5rem 0;
}
.signup-social-title {
  font-size: 1rem;
}
.signup-social-icons {
  display: flex;
}
.signup-icon {
  padding: 0.8rem 1.2rem;
  border: 1px solid black;
  background-color: white;
  margin-right: 1rem;
}

/* ----------- Goals-Paths Section ---------- */
.goals-paths-wrapper {
  padding: 1rem 0;
}
.goals-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.goals-list-item {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  position: relative;
}
.goals-list-item:last-child {
  border-bottom: none;
}
.goals-list-item h3,
.goals-list-item > i {
  font-size: 1.2rem;
}
.goals-list-item > i {
  position: absolute;
  bottom: 1.9rem;
  right: 2rem;
}

.paths-wrapper,
.catalog-link-wrapper,
.build-career > p {
  display: none;
}

/* ----------- Self Learning Section ---------- */
#self-learning-section {
  background-color: var(--dark-blue-bg-color);
}

.self-learning-wrapper {
  padding: 1rem 0 3rem 0;
}
.self-learning-title {
  font-size: 2.2rem;
  color: var(--white-color);
}
.self-learning-img-wrapper {
  margin-bottom: 1.5rem;
}
.self-learning-list-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.self-learning-list-item a {
  color: var(--white-color);
  letter-spacing: 1.5px;
}

/* ----------- People Stories Section ---------- */
.people-stories-wrapper {
  padding: 2rem 0;
}
.people-stories-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.people-stories-cards-wrapper {
  position: relative;
  margin-top: 1rem;
}
.dotted-pattern-bg {
  position: absolute;
  top: -1rem;
  left: -2rem;
  width: 100vw;
  height: 6rem;
  z-index: -1;
}
.people-stories-card {
  margin-bottom: 1rem;
}
.pp-wrapper img {
  border: 1px solid black;
}
.profile-info h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.3rem;
}
.people-stories-explore-link {
  text-align: center;
}
.people-stories-explore-link a {
  color: var(--link-color);
  font-weight: bold;
  font-size: 14px;
}
.people-stories-explore-link i {
  margin-left: 0.3rem;
  font-size: 10px;
}

/* ----------- Join Us Section ---------- */
#join-us-section {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}
.join-us-wrapper {
  padding: 2rem 0;
}
.join-us-title {
  font-size: 2.1rem;
  letter-spacing: 2px;
}
.numbers-of-subscription {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.numbers-of-subscription span {
  display: block;
  text-align: center;
}
.numbers-of-subscription .number {
  font-size: 2rem;
  font-weight: 700;
}

/* ----------- Where to Start Section ---------- */
#where-to-start-section {
  background-color: var(--yellow-bg-color);
}
.where-to-start-wrapper {
  padding: 3rem 0;
}
.where-to-start-img-wrapper {
  width: 50%;
  margin: 2rem auto;
}
.where-to-start-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.where-to-start-info p {
  font-size: 15px;
  margin-bottom: 1.5rem;
}
.where-to-start-btn {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}

/* ----------- For Business Section ---------- */
#for-business-section {
  background-color: var(--dark-blue-bg-color);
}
.for-business-wrapper {
  padding: 2rem 0;
}
.for-business-info {
  color: var(--white-color);
  margin-bottom: 3rem;
}
.for-business-info h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 1rem 0;
}
.for-business-info-btn {
  background-color: var(--yellow-bg-color);
  color: var(--text-color);
  margin-top: 1rem;
}
.for-business-companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3em;
}
.for-business-company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-business-company-logo img {
  width: 5.2rem;
}

/* ----------- Start For Free Section ---------- */
#start-for-free-section {
  background-color: var(--blue-bg-color);
}
.start-for-free-wrapper {
  padding: 3rem 0;
}
.start-for-free-lg-screen-img {
  display: none;
}
.start-for-free-info {
  color: var(--white-color);
}
.start-for-free-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.start-for-free-btn {
  background-color: var(--yellow-bg-color);
  margin-top: 1.5rem;
}

/* ----------- Footer ---------- */

/* ----------- Footer Codecademy Info Section ---------- */
footer {
  font-size: 13px;
}
footer li {
  line-height: 2;
}
footer h2 {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-codecademy-info-wrapper {
  padding: 2rem 0;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
}
.mobile {
  grid-column: span 2;
}
.mobile-list {
  display: flex;
}
.mobile-list li:last-child {
  margin-left: 3rem;
}
.footer-list i {
  margin-right: 0.5rem;
  font-size: initial;
}

/* ----------- Footer Course Catalog Section ---------- */
.course-catalog-wrapper {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
.course-catalog-wrapper h3 {
  font-size: 0.8rem;
}
.languages-list,
.subjects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ----------- Footer Policies Section ---------- */
.policies-wrapper {
  padding: 1rem 0;
  text-align: center;
}
.policies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.policies-list li {
  margin-right: 0.5rem;
}
.policies-list li::after {
  content: "|";
  margin-left: 0.5rem;
}
.policies-list li:last-child::after {
  content: "";
}
.copyright {
  margin-top: 0.8rem;
}
.copyright i {
  color: red;
  font-size: initial;
}

/* ----------- Media Queries ---------- */

@media only screen and (min-width: 600px) {
  /* ------ Small Media Hero Section ----- */
  .hero-signup-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* ------ Small Media Goals-Paths Section ----- */
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
  /* ------Medium Media Hero Section ----- */
  .hero-signup-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .hero-img-wrapper {
    align-self: center;
  }
  .hero-img-wrapper img {
    max-width: 26rem;
  }
  /* ------ Medium Media Self-learning Section ----- */
  .self-learning-title {
    font-size: 2.8rem;
  }
  .self-learning-img-wrapper {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 0 6rem;
  }
  /* ------ Large Media Hero Section ----- */
  .hero-img-wrapper img {
    max-width: 32rem;
  }
  /* ------ Large Media Goals-Paths Section ----- */
  .goals-list .build-career > i {
    display: none;
  }
  .paths-wrapper,
  .catalog-link-wrapper,
  .build-career > p {
    display: block;
  }
  .goals-paths-wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: 2rem;
  }
  .paths-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .goals-title {
    font-size: 2.9rem;
    margin-top: 0;
  }
  .path-box {
    margin-bottom: 0;
  }
  .paths-wrapper {
    background: url("./img/paths-dot-pattern.svg");
    padding: 2rem;
  }
  .path-box {
    width: 100%;
    min-height: 11.25rem;
    background-color: var(--white-color);
    padding: 1rem;
    border: 1px solid var(--black-color);
    margin-bottom: 1rem;
    font-size: 14px;
    position: relative;
  }
  .path-box-head span:first-child {
    background-color: var(--black-color);
    color: var(--white-color);
    margin-right: 0.5rem;
    font-weight: 400;
    padding: 0 2px;
  }
  .path-box-head span:last-child {
    letter-spacing: 2px;
  }
  .path-box-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .path-box-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .black-dot {
    background-color: var(--black-color);
  }
  .white-dot {
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
  }
  .path-box-info-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--light-pink-bg-color);
    font-weight: 700;
    padding: 2px 4px;
  }
  .catalog-link-wrapper {
    margin-bottom: 1rem;
    text-align: right;
  }
  .catalog-link {
    color: var(--link-color);
    font-weight: 600;
    font-size: 14px;
  }
  .catalog-link i {
    position: initial;
    font-size: 12px;
    margin-left: 4px;
  }
  /* ------ Large Media Self-learning Section ----- */

  .self-learning-wrapper {
    display: grid;
    grid-template-areas:
      "title image image"
      "list image image";
    column-gap: 3rem;
    padding-top: 3rem;
  }
  .self-learning-title {
    grid-area: title;
    line-height: 1.2;
    align-self: center;
    margin: 0;
  }
  .self-learning-img-wrapper {
    width: 100%;
    grid-area: image;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
  }
  .self-learning-list {
    grid-area: list;
  }
}
