:root {
  --main-bg-color: #fcf0e5;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-bg-color: #3a0fe5;
  --dark-blue-bg-color: #10162f;
  --yellow-bg-color: #f4d302;
  --dark-beige-hover-color: #f1e3db;
  --light-pink-bg-color: #fef5ff;
  --text-color: #10162f;
  --link-color: #3810db;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  margin: 1em 0;
}
h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}
button {
  font-family: inherit;
  line-height: inherit;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  min-width: 40px;
  height: 40px;
  font-weight: 500;
}
.container {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ----------- Header ---------- */
header {
  border-bottom: 1px solid var(--dark-blue-bg-color);
}
.header-wrapper {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.header-nav {
  display: none;
}
.toggle-wrapper {
  margin-left: auto;
}
.header-search-button {
  display: none;
}
.header-login {
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  font-weight: 600;
}
.hamburger-menu {
  margin-left: 0.5rem;
  padding: 0.5rem;
  color: var(--text-color);
}

/* ----------- Main ---------- */

/* ----------- Hero Section ---------- */
.hero-signup-wrapper {
  padding-top: 1rem;
}
.signup-title {
  font-size: 1.6rem;
}
.signup-form label {
  font-weight: 500;
}
.signup-form input {
  width: 100%;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1.5rem;
}
.password-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.form-info-box {
  display: none;
}
.form-info-box p {
  margin-bottom: 1rem;
}
.form-info-box li {
  list-style: initial;
  margin-left: 1rem;
}
.password-label-wrapper i:hover + .form-info-box {
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  width: 14rem; /* 70% */
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  display: block;
}
.signup-btn {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}
.terms-policy {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.signup-social-title {
  font-size: 1rem;
}
.signup-social-icons {
  display: flex;
}
.signup-icon {
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  margin-right: 1rem;
}

/* ----------- Goals-Paths Section ---------- */
.goals-title {
  margin-bottom: 0.5rem;
}
.goals-list-item {
  border-bottom: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.goals-list-item:last-child {
  border-bottom: none;
}
.goals-list-item h3,
.goals-list-item > i {
  font-size: 1.2rem;
}
.goals-list-item > i {
  position: absolute;
  bottom: 1.9rem;
  right: 2rem;
}
.paths-wrapper,
.catalog-link-wrapper,
.build-career > p {
  display: none;
}

/* ----------- Self Learning Section ---------- */
#self-learning-section {
  background-color: var(--dark-blue-bg-color);
}
.self-learning-wrapper {
  padding-top: 1rem;
}
.self-learning-title {
  margin-top: 0;
  color: var(--white-color);
}
.self-learning-img-wrapper {
  margin-bottom: 1.5rem;
}
.self-learning-list-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.self-learning-list-item a {
  color: var(--white-color);
  letter-spacing: 1.5px;
}

/* ----------- People Stories Section ---------- */
.people-stories-title {
  margin-bottom: 0.5rem;
}
.people-stories-cards-wrapper {
  margin-top: 1.5rem;
  position: relative;
}
.people-stories-card {
  margin-bottom: 1rem;
}
.pp-wrapper img {
  border: 1px solid black;
}
.profile-info h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.3rem;
}
.people-stories-explore-link {
  text-align: center;
}
.people-stories-explore-link a {
  color: var(--link-color);
  font-weight: bold;
}
.people-stories-explore-link i {
  margin-left: 0.3rem;
  font-size: 10px;
}

/* ----------- Join Us Section ---------- */
#join-us-section {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}
.join-us-title {
  letter-spacing: 2px;
  width: 80%;
}
.numbers-of-subscription {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.numbers-of-subscription span {
  display: block;
  text-align: center;
  font-weight: 700;
}
.numbers-of-subscription .number {
  font-size: 2rem;
}

/* ----------- Where to Start Section ---------- */
#where-to-start-section {
  background-color: var(--yellow-bg-color);
}
.where-to-start-wrapper {
  padding-bottom: 4rem;
}
.where-to-start-img-wrapper {
  width: 50%;
  margin: 2rem auto;
}
.where-to-start-title {
  margin-bottom: 0.5rem;
}
.where-to-start-info p {
  margin-bottom: 1.5rem;
}
.where-to-start-btn {
  background-color: var(--blue-bg-color);
  color: var(--white-color);
}

/* ----------- For Business Section ---------- */
#for-business-section {
  background-color: var(--dark-blue-bg-color);
}
.for-business-info {
  color: var(--white-color);
  margin-bottom: 3rem;
}
.for-business-info h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.for-business-info-btn {
  background-color: var(--yellow-bg-color);
  color: var(--text-color);
  margin-top: 1rem;
}
.for-business-companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3rem;
}
.for-business-company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-business-company-logo img {
  width: 5.2rem;
}

/* ----------- Start For Free Section ---------- */
#start-for-free-section {
  background-color: var(--blue-bg-color);
}
.start-for-free-lg-screen-img {
  display: none;
}
.start-for-free-info {
  color: var(--white-color);
}
.start-for-free-title {
  margin-bottom: 0.5rem;
}
.start-for-free-btn {
  background-color: var(--yellow-bg-color);
  margin-top: 1.5rem;
}

/* ----------- Footer ---------- */

/* ----------- Footer Codecademy Info Section ---------- */
.footer-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer li {
  line-height: 2;
}
footer h2 {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-codecademy-info-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, auto);
}
.mobile {
  grid-column: span 2;
}
.mobile-list {
  display: flex;
}
.mobile-list li {
  flex: 1;
}
.mobile-list li img {
  width: 50%;
}
.footer-list i {
  margin-right: 0.5rem;
  font-size: initial;
}

/* ----------- Footer Course Catalog Section ---------- */
.footer-course-catalog-wrapper {
  padding-bottom: 1rem;
}
.course-catalog-wrapper h3 {
  font-size: 0.8rem;
}
.languages-list,
.subjects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ----------- Footer Policies Section ---------- */
.footer-policies-wrapper {
  padding-top: 1rem;
  text-align: center;
  border-top: 1px solid var(--black-color);
}
.policies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.policies-list li {
  margin-right: 0.5rem;
}
.policies-list li::after {
  content: "|";
  margin-left: 0.5rem;
}
.policies-list li:last-child::after {
  content: "";
}
.copyright {
  margin-top: 0.8rem;
}
.copyright i {
  color: red;
  font-size: initial;
}

/* ---------------- Media Queries --------------- */

@media only screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 2.5rem;
  }

  /* ------ Small Media Hero Section ----- */
  .hero-signup-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* ------ Small Media Join Us Section ----- */
  .join-us-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .numbers-of-subscription {
    flex-direction: column;
    margin: 0;
    justify-self: center;
  }

  /* ------ Small Media Where to Start Section ----- */
  .where-to-start-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .where-to-start-img-wrapper {
    margin: 0;
    justify-self: center;
    align-self: center;
  }
  .where-to-start-info {
    order: -1;
  }

  /* ------ Small Media For Business Section ----- */
  .for-business-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .for-business-info {
    margin-bottom: 0;
  }
  .for-business-companies {
    width: 70%;
    column-gap: 1rem;
    justify-self: center;
  }

  /* ------ Small Media Start For Free Section ----- */
  .start-for-free-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .start-for-free-img-wrapper {
    width: 80%;
    align-self: center;
    justify-self: center;
  }
  .start-for-free-title {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* ------Medium Media Hero Section ----- */
  .hero-signup-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .hero-img-wrapper {
    align-self: center;
  }
  .hero-img-wrapper img {
    max-width: 26rem;
  }

  /* ------ Medium Media Self-learning Section ----- */
  .self-learning-img-wrapper {
    width: 70%;
  }

  /* ------ Medium Media People Stories Section ----- */
  .people-stories-wrapper {
    position: relative;
  }
  .people-stories-explore-link {
    position: absolute;
    top: 7rem;
    right: 1rem;
  }
  .people-stories-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  /* ------ Medium Media Join Us Section ----- */
  .join-us-wrapper {
    column-gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .numbers-of-subscription {
    width: 100%;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
  }

  /* ------ Medium Media Start For Free Section ----- */
  .start-for-free-sm-screen-img {
    display: none;
  }
  .start-for-free-lg-screen-img {
    display: block;
  }
  .start-for-free-info {
    width: 70%;
    justify-self: end;
  }

  /* ------ Medium Media Footer  ----- */
  .mobile {
    grid-column: span 1;
  }
  .mobile-list {
    flex-direction: column;
  }
  .mobile-list li {
    flex: 0;
  }
  .mobile-list li img {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  /* ------ Large Media Header ----- */
  .header-nav {
    display: block;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-item {
    margin-left: 1.5rem;
  }
  .nav-list-item i {
    margin-left: 0.2rem;
  }
  .toggle-wrapper {
    margin-left: auto;
    display: flex;
  }
  .header-search-button {
    display: block;
    background: none;
    font-size: 1.1rem;
  }
  .hamburger-menu {
    display: none;
  }

  /* ------ Large Media Hero Section ----- */
  .hero-img-wrapper img {
    max-width: 32rem;
  }

  /* ------ Large Media Goals-Paths Section ----- */
  .goals-list .build-career > i {
    display: none;
  }
  .paths-wrapper,
  .catalog-link-wrapper,
  .build-career > p {
    display: block;
  }
  .goals-paths-wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: 2rem;
  }
  .paths-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .goals-title {
    margin-top: 0;
  }
  .path-box {
    margin-bottom: 0;
  }
  .paths-wrapper {
    background: url("./img/paths-dot-pattern.svg");
    padding: 2rem;
  }
  .path-box {
    width: 100%;
    min-height: 11.25rem;
    background-color: var(--white-color);
    padding: 1rem;
    border: 1px solid var(--black-color);
    margin-bottom: 1rem;
    font-size: 14px;
    position: relative;
  }
  .path-box-head span:first-child {
    background-color: var(--black-color);
    color: var(--white-color);
    margin-right: 0.5rem;
    font-weight: 400;
    padding: 0 2px;
  }
  .path-box-head span:last-child {
    letter-spacing: 2px;
  }
  .path-box-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .path-box-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .black-dot {
    background-color: var(--black-color);
  }
  .white-dot {
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
  }
  .path-box-info-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--light-pink-bg-color);
    font-weight: 700;
    padding: 2px 4px;
  }
  .catalog-link-wrapper {
    margin-bottom: 1rem;
    text-align: right;
  }
  .catalog-link {
    color: var(--link-color);
    font-weight: 600;
    font-size: 14px;
  }
  .catalog-link i {
    position: initial;
    font-size: 12px;
    margin-left: 0.25rem;
  }

  /* ------ Large Media Self-learning Section ----- */
  .self-learning-wrapper {
    display: grid;
    grid-template-areas:
      "title image image"
      "list image image";
    column-gap: 3rem;
    padding-top: 3rem;
  }
  .self-learning-title {
    grid-area: title;
    line-height: 1.2;
    align-self: center;
    margin: 0;
  }
  .self-learning-img-wrapper {
    width: 100%;
    grid-area: image;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
  }
  .self-learning-list {
    grid-area: list;
  }

  /* ------ Large Media People Stories Section ----- */
  .people-stories-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    row-gap: 0;
  }

  /* ------ Large Media Join Us Section ----- */
  .join-us-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .join-us {
    width: 80%;
  }
  .numbers-of-subscription .number {
    font-size: 2.5rem;
  }
  .numbers-of-subscription span:last-child {
    font-size: 1.5rem;
  }

  /* ------ Large Media For Business Section ----- */
  .for-business-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .for-business-companies {
    width: 100%;
    height: 70%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0;
    align-self: center;
  }

  /* ------ Large Media Footer ----- */
  footer li {
    line-height: 1.6;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
  }
  .footer-codecademy-info-wrapper {
    border-bottom: none;
    border-right: 1px solid var(--black-color);
  }
  #footer-policies-section {
    grid-column: 1 / 3;
  }
  .footer-course-catalog-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .subjects {
    order: -1;
  }
  .subjects-list {
    grid-template-columns: 1fr;
  }
  .footer-policies-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
